:root {
    --width-main: 1000px;
    --fsp: 17px;
    --fsh2: calc(var(--fsp) + 11px);
    --fsh3: calc(var(--fsp) + 7px);
    --fsh4: calc(var(--fsp) + 4px);
    --side-content-width: 224px;
    --gap-margin: 16px;
    --gap-padding: 16px;
    --gap-p: calc(17px + 4px);
    --gap-p-compact: calc(17px * 0.75);
  }
  @media screen and (min-width: 2048px) {
    :root {
      --width-main: 1200px;
    }
  }
  @media screen and (min-width: 2560px) {
    :root {
      --width-main: 1400px;
    }
  }
  /* Set the overall layout */
  body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#row-markdown {
    flex: 1;
    display: flex;
}

/* Style for the editor container */
#markdown-editor-container {
    flex: 1;
    width: 600px;
    padding: 10px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}

/* Style for the preview container */
#preview {
    flex: 1;
    width: 600px;
    padding: 10px;
    overflow-y: auto;
    box-sizing: border-box;
}

/* Ensure CodeMirror editor fills its container */
.CodeMirror {
    height: 100%;
}